.group-picture-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9A9A9;
    margin-bottom: 40px;

    .group-picture{        
        height: 600px;
        width: auto;
    }
}